{% extends 'base.html' %}

{% block content %}

<p>Genre creation form.</p>

<!-- TODO: Add a <form> element here and use the form variable to show the labels & fields -->
  <form method="POST" action="{{ url_for('main.create_genre') }}">
    {{ form.csrf_token }}
    <fieldset>
      <legend>Enter a genre</legend>
  
      {{ form.name.label }}
      {{ form.name }}

      {% for error in form.name.errors %}
        <p>{{ error }}</p>
      {% endfor %}
          
      {{ form.submit }}
    </fieldset>
  </form>

{% endblock %}