{% extends 'base.html' %}

{% block content %}

<p>Author creation form.</p>
<form method="POST" action="{{ url_for('main.create_author') }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Enter a book</legend>

    {{ form.author_name.label }}
    {{ form.author_name }}

    {% for error in form.author_name.errors %}
      <p>{{ error }}</p>
    {% endfor %}

    {{ form.biography.label }}
    {{ form.biography }}
        
    {{ form.submit }}
  </fieldset>
</form>

<!-- TODO: Add a <form> element here and use the form variable to show the labels & fields -->

{% endblock %}